<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  <h4 id="heading">Personal Details</h4>
  <div class="tab-content">
      <form [formGroup]="formdata" (ngSubmit)="onSubmit(formdata.value)">
    <div class="container">
      <div class="col-lg-10 well">
          <!--  -->
          <div class="row">
              <div class="col-sm-3">
                  <label>Name as in Passport</label>
                  <input type="text" placeholder="firstName" formControlName="firstName">
                  <!-- <div *ngIf="firstName.errors?.required"> 
                        firstName required. 
                    </div> -->
                </div>
              <div class="col-sm-3">
                  <br>
                  <input type="text" placeholder="middle" formControlName="middle">
              </div>
              <div class="col-sm-3">
                  <br>
                  <input type="text" placeholder="lastname"formControlName="lastName">
              </div>
              <div class="col-sm-3">
                  <label>Gender</label>
                  <input type="text" placeholder="Gender" formControlName="gender">
                  
              </div>
              <div class="col-sm-3">
                  <label>Date of Birth</label>
                  <input type="text" placeholder="DD/MM/YY" formControlName="dateOfBirth">
                  <!-- <div class="ui-g-12 ui-md-4">
                        <h3>Icon</h3>
                        <p-calendar [showIcon]="true"></p-calendar> <span style="margin-left:35px"></span>
                    </div> -->
                  
              </div>
              <div class="col-sm-3">
                  <label>Nationality</label>
                  <input type="text" formControlName="nationality">
              </div>
              <div class="col-sm-3">
                  <label>SSN</label>
                  <input type="text" formControlName="SSN">
              </div>
              <div class="col-sm-3">
                  <label>Marital Status</label>
                  <input type="text" formControlName="maritalStatus">
              </div>
        
            </div>
            <!-- </form> -->
      </div>
    </div>

    <div class="container">
        <div class="col-lg-10 well">
            <div class="row">
                <div class="col-sm-8">
                    <label>Primary Contact Address in USA for non US Citizen</label>
                    <br>
                    <textarea placeholder="Enter Address here.." 
                    rows="5" cols="60" formControlName="address"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <input type="text" placeholder="City/Town" formControlName="city">
                </div>
                <div class="col-sm-4">
                    <input type="text" placeholder="Select State" formControlName="state">
                </div>
                <div class="col-sm-4">
                    <input type="text" placeholder="ZipCode" formControlName="zip">
                </div>
                
                <div class="col-sm-4">
                    <br>
                    <textarea placeholder="Landmark(Optional)" cols="22" formControlName="landmark"></textarea>
                </div>
                <div class="col-sm-4">
                    <br>
                    <textarea placeholder="Alternate Phone(Optional) "
                     cols="22" formControlName="phone"></textarea>
                </div>
            </div>
         </div>
     </div>
     <div class="container">
        <div class="col-lg-10 well">
            <div class="row">
                <div class="col-sm-12">
                    <label>Contact Address in Home Country</label>
                    <br>
                    <textarea cols="70" rows="4" formControlName="homeAddress"></textarea>
                </div>
            </div>
        </div>
      </div>
      <div class="container">
          <div class="col-lg-10 well">
              <div class="row">
                  <div class="col-sm-6">
                      <label>Mobile Number</label> &nbsp;
                      <input type="text" formControlName="mobile">
                  </div>
                  <div class="col-sm-6">
                      <label>Upload Documents (Driving License or State ID)</label> &nbsp;
                      <input type="file" placeholder="Driving License or State ID">
                  </div>
                  <div class="col-sm-6">
                      <label>Land Line</label> &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <input type="text" formControlName="landLine">
                  </div>
                  <div class="col-sm-6">
                      <label>Upload Documents (Bank Statement)</label> &nbsp;
                       <input type="file" placeholder="A Bank Statement">
                  </div>
                  <div class="col-sm-6">
                      <label>Email</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                       <input type="text" formControlName="email">
                  </div>
                  
              </div>
          </div>
      </div> 
      
      <div id="button" >
          <button type="submit" id="save" [disabled] = "!formdata.valid"
          class="btn btn-info">Save</button>&nbsp;
          &nbsp; &nbsp;&nbsp;
          
            <button type="button" [disabled]="buttonStatus"(click)="btnClick()"
            id="Next" class="btn btn-info">Next >></button>
          
      </div>
      </form>     
  </div>
  <br>
  <br>
</body>