<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>


<h3 style="text-align:center">Registration</h3>
<br>
<form [formGroup]="formdata" (ngSubmit)="createUser(formdata.value)">
<div class="container">
    <div class="col-lg-12 well">
  <div class="row">
    <div class="col-sm-4">
      <label>FirstName</label><br>
      <input type="text" placeholder="FirstName"formControlName="firstName">
    </div>
    <div class="col-sm-4">
      <label>LastName</label><br>
      <input type="text" placeholder="LastName"formControlName="lastName">
    </div>
    <div class="col-sm-4">
      <label>Gender</label><br>
      <input type="text" placeholder="Gender" formControlName="gender">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <label>Email</label><br>
      <input type="text" placeholder="Email" formControlName="email">
    </div>
    <div class="col-sm-4">
      <label>Password</label><br>
      <input type="password" placeholder="Password" formControlName="password">
    </div>
  </div>
    </div>
</div>
<br>
<div id="submit">
 <input type="submit" class="btn btn-info">&nbsp;&nbsp;&nbsp;&nbsp;
 
</div>
</form>
<br>
<br>
<div class="container">
    <div class="col-lg-5 well">
  <div class="row">
    <label>Check for existing record in the database</label>
    <br>
    <input type="text" placeholder="Email" [(ngModel)]="searchEmail">&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="button" value=" Get"class="btn btn-info" (click)="getUsers()">
    
  </div>
    </div>
</div>
</body>
</html>