<html>

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <h4>Educational Details</h4>
    <div class="tab-content">
        <form [formGroup]="formdata" (ngSubmit)="onSubmit(formdata.value)">
            <h5>Masters Degree Information</h5>
        <div class="container">
            <div class="col-lg-10 well">
                <div class="row">
                    <div class="col-sm-6">
                        <label>Year or Expect Year of Graduation and month of graduation</label>
                        <br>
                        <input type="text" formControlName="mastersGradDate">
                    </div>
                </div>
                <div class="row">
                        <div class="col-sm-6">
                            <label>Major of Degree</label>
                            <br>
                            <input type="text" formControlName="mastersMajor">
                        </div>
                        <div class="col-sm-6">
                                <label>University</label>
                                <br>
                                <input type="text" formControlName="mastersUniv">
                         </div>
                </div>
            </div>
            
        </div>
        <div class="container">
                <div class="col-lg-10 well">
                    <div class="row">
                            <div class="col-sm-8">
                                    <label>University Address</label> <br>
                                    <textarea rows="3" cols="70"
                                    formControlName="mastersAddress"></textarea>
                            </div>

                            <div class="col-sm-4">
                                    <br>
                                    <input placeholder="GPA" formControlName="mastersGPA"><br>
                                    <br>
                                    <input placeholder="Start year and Month" formControlName="mastersStartYear">
                            </div>
                    <div class="row">
                            <div class="col-sm-6">
                            <label>Upload college Official Transcript</label>
                            <input type="file">
                            </div>
                            <div class="col-sm-4">
                            <label>Upload college Degree</label>
                            <input type="file">
                             </div>
                    </div>
                    </div>
                </div>
        </div>
        <h5>Bachelors Degree</h5>
        <div class="container">
                <div class="col-lg-10 well">
                    <div class="row">
                        <div class="col-sm-6">
                            <label>Year or Expect Year of Graduation and month of graduation</label>
                            <br>
                            <input type="text" formControlName="BachGradDate">
                        </div>
                    </div>
                    <div class="row">
                            <div class="col-sm-6">
                                <label>Major of Degree</label>
                                <br>
                                <input type="text" formControlName="BachMajor">
                            </div>
                            <div class="col-sm-6">
                                    <label>University</label>
                                    <br>
                                    <input type="text" formControlName="BachUniversity">
                             </div>
                    </div>
                </div>
                
            </div>
            <div class="container">
                    <div class="col-lg-10 well">
                        <div class="row">
                                <div class="col-sm-8">
                                        <label>University Address</label> <br>
                                        <textarea rows="3" cols="70"
                                        formControlName="BachAddress"></textarea>
                                </div>
    
                                <div class="col-sm-4">
                                        <br>
                                        <input placeholder="GPA" formControlName="BachGPA"><br>
                                        <br>
                                        <input placeholder="Start year and Month" formControlName="BachStartYear">
                                </div>
                        <div class="row">
                                <div class="col-sm-6">&nbsp; &nbsp;&nbsp;
                                <label>Upload college Official Transcript</label>
                                &nbsp; &nbsp;&nbsp;
                                <input type="file">
                                </div>
                                <div class="col-sm-4">
                                <label>Upload college Degree</label>
                                <input type="file">
                                 </div>
                        </div>
                        </div>
                    </div>
            </div>
            <h5>Intermediate Degree</h5>
            <div class="container">
                    <div class="col-lg-10 well">
                        <div class="row">
                            <div class="col-sm-6">
                                <label>Year or Expect Year of Graduation and month of graduation</label>
                                <br>
                                <input type="text" formControlName="interGrad">
                            </div>
                        </div>
                        <div class="row">
                                <div class="col-sm-6">
                                    <label>Major of Degree</label>
                                    <br>
                                    <input type="text" formControlName="interMajor">
                                </div>
                                <div class="col-sm-6">
                                        <label>University</label>
                                        <br>
                                        <input type="text" formControlName="interUniv">
                                 </div>
                        </div>
                    </div>
                    
                </div>
                <div id="button" >
                        <button type="submit" id="save" [disabled] = "!formdata.valid"
                        class="btn btn-info">Save</button>&nbsp;
                        &nbsp; &nbsp;&nbsp;
                        <button type="submit"  
                        id="Next" class="btn btn-info">Next >></button>
                        &nbsp;
                        &nbsp; &nbsp;&nbsp;
                        <button type="button" (click)="btnClick()" 
                        id="Back" class="btn btn-info"> Back</button>
                    </div>
                    </form>
    </div>
</body>

</html>