<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
  <h4 id="heading">Immigration Details</h4>
  <div class="tab-content">
    <!-- <form [formGroup]="formdata" (ngSubmit)="onSubmit(formdata.value)"> -->
      <div class="container">
        <div class="col-lg-10 well">
            <div class="row">
                <div class="col-sm-6">
                    <label>Total Years Of Work Experience</label>
                    <input type="years">
                </div>
                <div class="col-sm-6">
                    <label>Field of Previous Work Experience</label>
                  </div>
            </div>
        </div>
      </div>
      <h5>Company Details</h5>
      <div class="container">
          <div class="col-lg-10 well">
              <div class="row">
                  <div class="col-sm-6">
                      <label>Company Name</label><br>
                      <input type="text"> 
                  </div>
                  <div class="col-sm-6">
                      <label>Start Year and Start Month</label>
                    </div>
              </div>
              <div class="row">
                  <div class="col-sm-6">
                      <label>Company Location</label><br>
                      <input type="text"> 
                  </div>
                  <div class="col-sm-6">
                      <label>Upload Work experience Letter of Offer Letter</label><br>
                      <input type="file">
                    </div>
              </div>
              <div class="row">
                  <div class="col-sm-6">
                      <label>Start Year and Start Month</label><br>
                      <input type="text" placeholder="DD/MM/YY"> 
                  </div>
              </div>
          </div>
        </div>
    <!-- </form> -->
  </div>
</body>